{% extends 'base.html' %}
{% load static %}
{% block body %}

<form action="{% url 'add' %}" method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" class="form-control" name="title" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Markdown</label>
        <textarea id="textmd" name="md" style="display: none"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'simplemde/dist/simplemde.min.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'simplemde/dist/simplemde.min.js' %}"></script>
    <script>
    var simplemde = new SimpleMDE({
		element: document.getElementById("textmd"),
		spellChecker: false,
	});
    simplemde.codemirror.on("change", function(){
        document.getElementById("textmd").value = simplemde.value()
    });
    </script>
{% endblock %}